.metadata
.recommenders
RemoteSystemsTempFiles
Servers
rideshare/.classpath
rideshare/.project
rideshare/.classpath/
rideshare/.project/
rideshare/.settings
rideshare/RideShare.log
rideshare/target
rideshare/debug.*