.metadata
.recommenders
RemoteSystemsTempFiles
Servers
rideshare/.classpath
rideshare/.project
rideshare/.classpath/
rideshare/.project/
rideshare/.settings
rideshare/bin
rideshare/RideShare.log
rideshare/target
rideshare/node_modules