/************************
	Revature Fonts
************************/
@font-face {
	font-family: 'Futura-Std-Medium';
	src: url('fonts/Futura-Std-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Futura-Std-Book';
	src: url('fonts/Futura-Std-Book.otf') format('opentype');
}

@font-face {
	font-family: 'Futura-Std-Heavy';
	src: url('fonts/Futura-Std-Heavy.otf') format('opentype');
}

@font-face {
	font-family: 'Futura-Std-Bold';
	src: url('fonts/Futura-Std-Bold.otf') format('opentype');
}

body {
	font-family: 'Futura-Std-Book';
}

th {
	font-family: 'Futura-Std-Bold';
}

/************************
	Revature Colors
************************/
:root {
	/*** Primary Colors ***/ -
	-orange: #F26925; -
	-white: #FFFFF; -
	-dark-grey: #474C55;
	/*** Secondary Colors ***/ -
	-blue: #72A4C2; -
	-yellow: #FCB414; -
	-light-grey: #B9B9BA;
}

.warning {
	color: red;
}

/**********************
	Header
**********************/
.navbar-right {
	margin-top: .75em;
	margin-right: 5em;
}

.header-styles {
	background-color: white;
}

a {
	color: #F26925;
}

.navbar, .navbar-brand, .navbar-collapse, .navbar-nav {
	min-height: 60px !important;
	background-color: #474C55 !important;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
	margin-bottom: 0;
}

.navbar-toggle {
	min-height: 60px !important;
	padding: 0px 20px;
	text-align: center;
}

#secondary-nav ul {
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
	min-height: 0px !important;
	height: auto !important;
	background-color: #555a63 !important;
}

#secondary-nav ul li {
	margin: 0px;
	padding: 0px;
	text-align: center;
    display: inline-block;
}

#secondary-nav ul li a {
	text-decoration: underline;
}

.navbar-active {
	color: #ffffff !important;
}

.navbar-brand img {
	max-height: 40px;
}

/**********************
	Login
**********************/
#login-container {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	marign: 0;
	background-color: #fff;
}

#login-container main {
	position: relative;
	background: url(../images/office.jpg) no-repeat center center fixed;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	margin: 0;
	z-index: -10;
}

#login-container main:after {
	position: fixed;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.15);
	z-index: -1;
}

#login-container #main-desc {
	margin-top: 6em;
	background: rgba(1,1,1,0.7);
	padding: 2em 3em;
	color: #fff;
}

#login-container #desc {
	margin-top: 3em;
	margin-bottom: 3em;
}

#login-container .logo {
	display: block;
}

#login-container .logo img {
	width: 80%;
	max-width: 280px;
}

#login-container a:hover {
	text-decoration: none;
}


/**********************
	Tabs
**********************/
.tabbed-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.tabbed-list li {
	padding: 1em;
	border-bottom: 1px solid #B9B9BA;
}

.tabbed-list li em {
	font-family: Futura-Std-Heavy;
	font-style: normal;
}

.btn-container {
	text-align: center;
	margin-top: 1em;
}

.location-selector {
	margin: 1em 2em;
}

.passenger-list li {
	border-bottom: none;
	padding: .1em 1em
}

/**********************
	Chart Containers
**********************/
.nav>li>a, .nav>li>a {
	transition: background-color 1s ease;
}

.data-container {
	padding: .5em 1em 1em 1em;
	border-radius: .5em;
}

.chart-container {
	padding: .5em;
	background-color: #ffffff;
	border-radius: .3em;
}

@media ( max-width : 400px) {
	.chart-container {
		min-height: 8.8em;
	}
}

@media ( min-width : 401px) and (max-width: 600px) {
	.chart-container {
		min-height: 11.8em;
	}
}

@media ( min-width : 601px) {
	.chart-container {
		min-height: 25.8em;
	}
}

/************************
	Inputs
************************/
.modal-header {
	background-color: #f1f2f4;
	border-radius: 6px;
}

.btn-primary {
	color: white !important;
	border-color: white !important;
	background-color: #F26925 !important;
	background-image: none;
}

textarea {
	resize: none;
}

/**********************
	Tables
**********************/
.vcenter {
	vertical-align: middle !important;
}

.table-responsive {
	display: block !important;
}

.table>tbody>tr {
	border-top: 1px solid #ddd;
}

.table>tbody>tr>td, .table>tbody>tr>th {
	border-top: 0;
}

.wrap {
	text-align: center;
}

.outer-bar-data {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
}

.table-view {
	max-width: 400px;
}

.table, .table-responsive, thead {
	position: relative !important;
}

.fixed-style-table-header {
	position: fixed !important;
	background: #fff;
	z-index: 100;
	top: 0;
	width: 90%;
}

.note-mw {
	min-width: 300px;
}

.error-pic {
	margin: auto;
	text-align: center;
}

/**********************
	Panels
**********************/
.panel-default>.panel-heading{
	background-color: white;
	background-image: none;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";
    float: right;
    color: #bbb;
    margin-top: -.5em;
    margin-right: .5em;
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-group em {
	font-family: Futura-Std-Heavy;
	font-style: normal;
}

.panel-body {
	background-color: #f8f8f8;
}

.panel-body table tr td:first-child{
	padding-right: 2em;
}

/**********************
	Maps
**********************/
#wrapper {
	position: relative;
	margin-bottom: 2.3em;
}

#over_map {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 99;
}

#mapText {
	margin-top: 1em;
	margin-left: 1em;
	font-size: 1.5em;
	color: #202020;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
